.teamsCardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  .card {
    margin: 30px;
    
  }
  .card {
    width: 207px;
    
  }
  .card img {
    height: 250px;
    width: 193px;
    object-fit: cover;
    align-self: center;
    
  }
  img {
    width: 225px; 
  }
}

.container {
  max-width: 1600px!important;
}

.playerCard {
  border-top: 10px #fff59a solid!important;
  border-right: 8px #fff59a solid!important;
  border-left: 8px #fff59a solid!important;
  border-bottom: 10px #fff59a solid!important;
  box-shadow: 0 8px 14px 0 rgba(80, 77, 77, 0.486);
}

  .playerCard:hover {
    transform: scale(1.04);
    transition: .7s;
  }

.nav {
  background-color: #fef5efec;
}

.cardColumn {
  margin: auto;
  text-align: center;
}
