.teamsCardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  .card {
    margin: 30px;
  }
  .card {
    width: 200px;
  }
  .card img {
    width: 200px; 
  }
  img {
    width: 225px; 
  }

}

.teamCards {
  border: 2px black solid;
  
}

.container {
  max-width: 1600px!important;
}
