.teamsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  .card {
    margin: 1px;
    padding: 25px;
    padding-bottom: 0px;
  }
  .card img {
    height: 150px;
    width: 200px;
    object-fit: cover;
  }
  .card-title {
    margin: 0px;
  }
  .card-text {
    margin: 0px;

  }

  .btn {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
