.teamsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin: 120px;
  max-width: 1600px;
  .card {
    margin: 20px;
    padding: 25px;
    padding-bottom: 0px;
    background-color: #fef5efec;
    box-shadow: 0 8px 14px 0 rgba(80, 77, 77, 0.486);
    transition: .6s;

  }
  .card:hover {
    transform: scale(1.05);
    transition: .6s;
    .toast-header {
      color: #36384d !important;;
    }
  }
  
  .card img {
    height: 150px;
    width: 200px;
    object-fit: cover;
  }
  .card-title {
    margin: 0px;
  }
  .card-text {
    margin: 0px;

  }

  .btn {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .progress-bar {
    background-color: transparent;
    max-width: 300px;
  }

  // .progress-bar-container1 {
  //   // box-shadow: 0 8px 14px 0 rgba(80, 77, 77, 0.486);
  //   background-color: #fef5efec;
  // }
  .progress-bar-container {
    margin: 20px;
    box-shadow: 0 0px 4px 0 #cebf36fb;
  }

  .progress-bar-heading
  .toast {
    max-width: 185px;
    max-height: 145px;
  }
  
  .progress-bar-card {
    color: #fef5efec;
    background-color: #36384d
  }

  .toast-header {
    max-height: 145px;
    max-width: 185px;
    align-self: center;
    justify-content: center;
    color: #36384d;
    background-color: #fff59a;
  }

  .toast-body {
    color: #36384d !important;
  }
  
}
