.singleCardContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  .card {
    margin: 30px;
  }
  .card {
    width: 150px;
  }
  .card img {
    width: 150px; 
  }
  img {
    width: 225px; 
  }

}

.teamCards {
  border: 2px black solid;
  
}
